.listPage{
    margin: 50px 24px 0px 24px;
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  
    > :first-child {
      margin-right: auto;
    }
  
    > :last-child {
      margin-left: auto;
    }
  }
  .tableContainer{
   margin-top: 50px;
  }

} 
  