
@import '../../variables';
.listPage{
    margin: 50px 24px 0px 24px;
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $primary-color;
  
    > :first-child {
      margin-right: auto;
    }
  
    > :last-child {
      margin-left: auto;
    }
  }
  .tableContainer{
   margin-top: 50px;
   .table{
    .tableHead{
    }
    .tableBody{
        .tableRow{
            .button{
                color: $primary-color
            }
        }
    }
   }
  }

} 
  