@import 'variables';

.sideBar {
    height: 100vh;
    min-width: 218px;
    position: fixed;
    z-index: 1;
    background-color: $primary-color;
  
    .sideBarLogo {
      padding-left: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer; 
    }
  
    .sideBarList {
      .sideBarRow {
        list-style-type: none;
        padding: 16px 30px 16px 0px;
  
        .listContainer {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
  
          .icon {
            color: black; 
            text-decoration: none; 
          }
  
          .title {
            color: black; 
            text-decoration: none; 
          }
  
          .activeLink .title {
            color: $primary-color;
            text-decoration: none;  
          }
        }
      }
    }
  }
  